@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "modal.less";

.container {
	margin:0px auto;
	width:@sitewidth;
	position:relative;
	
	img {
		opacity:0;
	}
	
	#overlay {
		img {
			opacity:1;
		}
	}
}

#keycontrols {
	display:none;
	position:fixed;
	bottom:30px;
	left:0px;
	width:100%;
	text-align:center;
	z-index:150;
	
	ul {
		margin:0;
		
		li {
			float:left;
			display:inline-block;
			*display:inline;
			font-size:1.5em;
			margin-left:30px;
			
			a {
				display:inline-block;
				*display:inline;
				width:45px;
				overflow:hidden;
				background:@dark;
				.rounded-corners(3px);
				box-shadow:0px 2px 1px rgba(47,53,62,0.2),inset 0px 2px 0px lighten(@dark,20%);
				-moz-box-shadow:0px 2px 1px rgba(47,53,62,0.2),inset 0px 2px 0px lighten(@dark,20%);
				-webkit-box-shadow:0px 2px 1px rgba(47,53,62,0.2),inset 0px 2px 0px lighten(@dark,20%);
				font-family:"Trebuchet MS";
				color:white;
				vertical-align:middle;
				line-height:40px;
				text-shadow:0px 1px darken(@dark,10%);
				
				&.arrow {
					font-size:1.7em;
					padding-bottom:3px;
				}
				
				&:hover {
					background:lighten(@dark,5%);
				}
				
				&:active,&.pressed {
					background:lighten(@dark,5%);
					box-shadow:0px 2px 1px rgba(47,53,62,0.2),0px 2px 1px rgba(255,255,255,0.2),inset 0px 0px 10px darken(@dark,20%);
					-moz-box-shadow:0px 2px 1px rgba(47,53,62,0.2),0px 2px 1px rgba(255,255,255,0.2),inset 0px 0px 10px darken(@dark,20%);
					-webkit-box-shadow:0px -1px 1px rgba(47,53,62,0.2),0px 2px 1px rgba(255,255,255,0.2),inset 0px 0px 10px darken(@dark,20%);
				}
			}
			
			&#combo {
				float:right;
				margin-right:30px;
				
				a {
					width:auto;
					padding:0 16px;
				}
				
				span {
					display:inline-block;
					*display:inline;
					vertical-align:middle;
					line-height:45px;
					width:15px;
					text-align:center;
					color:@dark;
					margin:0 0 0 4px;
					font-weight:bold;
				}
			}
			
			&#comboClose {
				display:none;
				
				&.show {
					float:right;
					margin-right:30px;
					display:inline-block;
				}
			}
		}
	}
}

a#prev,a#next{
	position:fixed;
	top:0;
	height:100%;
	width:79px;
	background:url('../gfx/arrows.png') left center no-repeat;
	background-position:30px center;
	text-indent:-9000px;
	z-index:100;
}

a#prev{ left:0; }
a#next{
	right:0;
	background-position:-30px center;
}

h1 { .title; }
p,blockquote { .bodyfont; }

#header {
	float:left;
	width:100%;
	margin:80px 0 50px 0;
	
	h1 {
		float:left;
		width:100%;
		text-align:center;
		margin:0 0 5px 0;
		.title(2.2em);
		font-weight:bold;
		color:@titles;
		
		a {
			display:inline-block;
			color:inherit;
			font-weight:inherit;
			border-bottom:2px solid @link;
			
			&:hover {
				border-color:@linkhover;
			}
		}
	}
	
	h2 {	
		float:left;
		text-align:center;
		width:100%;
		.bodyfont(1.65em);
		color:@titles;
	}
}

#preheader {
	float:left;
	width:80%;
	margin:0 10% 50px;
	
	h3,p {
		width:100%;
		margin:0;
	}
	
	h3 {
		float:left;
		width:100%;
		margin:0 0 20px 0;
		text-align:left;
		.title(3em);
		font-weight:bold;
		color:@titles;
	}
	
	a {
		color:inherit;
		border-bottom:1px solid @link;
		
		&:hover {
			color:@linkhover;
			border-color:@linkhover;
		}
	}
}

hr.sectionBreak {
	float:left;
	width:6%;
	margin:30px 47% 50px;
	padding:0;
	border:none;
	height:3px;
	background:darken(@borders,10%);
}

#intro {
	h3 {
		float:left;
		width:70%;
		margin:10px 15% 30px;
		text-align:center;
		padding:0;
		color:@dark;
		.bodyfont(2em,1.45em);
		
		a {
			color:inherit;
			border-bottom:1px solid @linkhover;
			
			&:hover {
				border-color:@link;
			}
		}
	}
}

.fullImage {
	float:left;
	width:90%;
	text-align:center;
	margin:30px 5%;
	
	img {
		width:auto;
		max-width:100%;
		
		&.spacer {
			margin-top:20px;
		}
		
		&.bottom {
			margin-bottom:50px;
		}
	}
}

.project,
#project,
#about {
	
	h3,h2 {
		float:left;
		width:@sitewidth - (@sitewidth/3 + 3);
		margin:20px 0 40px 0;
		padding-left:(@sitewidth/3 + 3);
		.title(3em);
	}
	
	h2 {
		text-decoration:underline;
		font-size:4em;
	}
	
	ol{
		float:right;
		text-align:left;
		width:((@sitewidth - (@sitewidth/3) - 4) - 40);
		margin:0 0 30px 0;
		padding:0 40px 0 0;
		list-style-position:outside;
		
		li {
			float:left;
			width:80%;
			padding:0 0 0 10px;
			margin:0 10% 10px 20px;
			.bodyfont();
		}
	}
	
	hr {
		&.section{
			float:left;
			width:10%;
			margin:70px 45% 90px;
			height:0;
			border:none;
			border-bottom:4px solid darken(@borders,3%);
		}
	}
	
	p,blockquote {
		float:right;
		text-align:left;
		width:((@sitewidth - (@sitewidth/3) - 4) - 40);
		margin:0 0 30px 0;
		padding:0 40px 0 0;
	
		a {
			color:inherit;
			border-bottom:1px solid @link;
			
			&:hover {
				color:@linkhover;
				border-color:@linkhover;
			}
		}
	
		&.caption,&.info{
			font-style:italic;
			font-size:1.3em;
			line-height:1.9em;
			padding:0 10px 0 40px;
			color:@subtext;
			clear:both;
			
			strong {
				font-weight:normal;
				font-style:inherit;
				color:@titles;
			}
			
			a {
				font-style:inherit;
			}
		}
		
		&.caption {
			float:left;
			text-align:left;
			width:((@sitewidth - (@sitewidth/3) - 4) - 60);
			padding:0 60px 0 10px;
			margin:0px 0 10px (@sitewidth/5);
			border-left:1px solid @borders;
			
			&.inline {
				float:right;
				border:none;
				margin-bottom:30px;
			}
		}
	
		&.info {
			float:left;
			width:(@sitewidth/3) - 100;
			padding:0 10px 0 40px;
			text-align:right;
			border-right:1px solid @borders;
		}
		
		&.half {
			width:(@sitewidth / 2) - 95;
			padding:0 50px 0 30px;
			margin:30px 0 0 0;
			
			&.caption {
				float:right;
				padding-left:20px;
				border-left:1px solid @borders;
				clear:none;
			}
		}
	}

	blockquote {
		font-size:2em;
		font-style:italic;
		position:relative;
		
		&.spacer {
			margin:30px 0 60px;
		}
		
		em {
			position:absolute;
			top:-5px;
			left:-50px;
			font-size:4em;
			font-family:"Times New Roman";
			color:@linkhover;
		}
	}
	
	h5 {
		float:left;
		width:@sitewidth - (@sitewidth/3 + 3);
		margin:40px 0 20px 0;
		padding-left:(@sitewidth/3 + 3);
		.title(2.5em);
		
		&.half{
			width:(@sitewidth / 2) - 95;
			padding:0 50px 0 45px;
			margin:50px 0 0 0;
		}
	}
	
	.image {
		float:left;
		width:100%;
		background:lighten(@testing,2.5%);
		margin:30px 0 30px;
		
		img {
			float:left;
			margin:0;
			padding:0;
		}
		
		&.first {
			margin-top:0;
		}
		
		&.close {
			margin-top:-20px;
		}
		
		&.border {
			width:(@sitewidth - 2);
			border:1px solid @borders;
			
			img {
				width:100%;
			}
		}
		
		&.half {
			width:(@sitewidth / 2) - 5;
			margin:30px 5px 30px 0;
			
			&.border {
				width:(@sitewidth / 2) - 7;
			}
		
			&.right {
				float:right;
				margin-left:5px;
				margin-right:0;
			}
			
			&.close {
				margin-top:-20px;
			}
		}
		
		&.under {
			margin-bottom:60px;
		}
		
		&.over {
			margin-top:50px;
		}
	}
	
	.video {
		float:right;
		text-align:left;
		width:((@sitewidth - (@sitewidth/3) - 4));
		margin:0 0 30px 0;
		padding:0 0 0 0;
		background:@testing;
		
		img {
			width:100%;
			height:auto;
			float:left;
			margin:0;
			padding:0;
		}
	}
}

#about {
	float:left;
	width:100%;
	margin-bottom:20px;
	
	h3 {
		margin-left:50px;
		width:(@sitewidth - 50);
		padding-left:0;
	}
	
	p {
		float:left;
		margin-left:50px;
		margin-bottom:40px;
		
		&.lead {
			font-size:1.7em;
		}
		
		&:last-child {
			margin-top:8px;
			margin-bottom:10px;
		}
		
		em {
			font-style:italic;
			color:@subtext;
		}
	}
	
	ol {
		float:right;
		list-style:none;
		width:(@sitewidth/3) - 130;
		padding:0 30px 0 0;
		text-align:left;
		margin:1px 50px 0 0;
		border-right:1px solid @borders;
		
		li {
			float:left;
			width:100%;
			margin:0 0 30px 0;
			font-style:italic;
			.bodyfont(1.3em,1.5em);
			color:@subtext;
			position:relative;
			text-align:right;
			
			span {
				position:absolute;
				right:-25px;
				top:3px;
				width:7px;
				height:7px;
				overflow:hidden;
				text-indent:9000px;
				background:white;
				border:1px solid darken(@borders,8%);
				.rounded-corners(10px);
			}
			
			&:last-child {
				margin-bottom:0;
			}
			
			&:first-child{
				span {
					border-color:darken(@link,20%);
					background:@link;
				}
			}
			
			strong {
				font-weight:normal;
				font-style:inherit;
				color:@titles;
			}
			
			a {
				color:inherit;
				border-bottom:1px solid @link;
				font-style:inherit;
				
				&:hover {
					color:@linkhover;
					border-color:@linkhover;
				}
			}
			
		}
	}
}

h4 {
	float:left;
	width:100%;
	margin:100px 0 40px 0;
	.title(2.3em);
	text-align:center;
	font-weight:normal;
	
}

.showall {
	float:left;
	width:100%;
	margin:30px 0 40px 0;
	
	.image {
		float:left;
		width:100%;
		background:lighten(@testing,2.5%);
		margin:0 0 11px 0;
		overflow:hidden;

		&.eleven {
			background:darken(@testing,5%);
		}
		&.one {
			background:darken(@testing,10%);
		}
		&.nine {
			background:darken(@testing,15%);
		}
		&.three {
			background:darken(@testing,20%);
		}
		&.seven {
			background:darken(@testing,25%);
		}
		&.six {
			background:darken(@testing,30%);
		}
		
		&.done {
			background:@link;
		}
		
		img {
			float:left;
			margin:0;
			padding:0;
		}
		
		a {
			float:left;
			width:100%;
			height:100%;
			position:relative;
			
			.title {
				position:absolute;
				.title;
				text-align:center;
				width:100%;
				height:100%;
				top:0;
				left:0;
			    -webkit-opacity: 0;
			    -moz-opacity: 0;
			    opacity: 0;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
				
			  em {
					font-weight:inherit;
					font-style:normal;
					display:inline;
					border-bottom:3px solid;
				}
			}
			
			&:hover {
				.title{
				    -webkit-opacity: 1;
				    -moz-opacity: 1;
				    opacity: 1;
				}
			}
		}
		
		&.half {
			height:478px;
			width:(@sitewidth / 2) - 5;
			margin-right:5px;
			
			img {
				width:100%;
			}
			
			.title {
				line-height:468px;
			}
			
			&:hover {
				.title{
					line-height:478px;
				}
			}
			
			&.right {
				float:right;
				margin-left:5px;
				margin-right:0;
			}
		}
		
		&.spanthree {
			height:286px;
			width:((@sitewidth/3) * 2) - 3;
			
			.title {
				line-height:276px;
			}
			
			&:hover {
				.title{
					line-height:286px;
				}
			}
		}
		
		&.portrait{
			width:((@sitewidth/3)-7);
			float:right;
			height:477px;
			
			.title {
				line-height:467px;
				font-size:3em;
			}
			
			&:hover {
				.title{
					line-height:477px;
				}
			}
		}
		
		&.thumb {
			width:((@sitewidth/3)-7);
			margin-right:11px;
			height:180px;
			
			.title {
				line-height:165px;
				font-size:2.5em;
			}
			
			&:hover {
				.title{
					line-height:175px;
				}
			}
			
			&.right {
				margin-right:0;
			}
		}

		a:active {

		}
		&.spanthree {
			a:active {

			}
		}
		
	}
}

ul#work{
	float:left;
	width:(@sitewidth + 12);
	margin:0;
	
	li {
		float:left;
		width:((@sitewidth/3)-7);
		margin:0 11px 11px 0;
		height:180px;
		
		a {
			width:100%;
			height:100%;
			float:left;
			position:relative;
			
			.title {
				position:absolute;
				.title(2.5em);
				line-height:200px;
				color:black;
				text-align:center;
				width:100%;
				height:100%;
				top:0;
				left:0;
			    -webkit-opacity: 0;
			    -moz-opacity: 0;
			    opacity: 0;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
				
			  	em {
					font-weight:inherit;
					font-style:normal;
					display:inline;
					border-bottom:3px solid;
				}
			}
			
			&:hover {
				.title{
					line-height:175px;
				    -webkit-opacity: 1;
				    -moz-opacity: 1;
				    opacity: 1;
				}
			}
		}
		
		&.active {
			.title{				
				em {
					text-decoration:line-through;
					border:none;
					
					&:hover {
						border:none;
					}
				}
			}
		}
	}
}

#footer {
	float:left;
	width:100%;
	margin:0;
	padding:50px 0 80px 0;
	.bodyfont(1.3em);
	
	ul {
		li {
			float:left;
			color:@text;
			margin:0 10px 0 0;
			
			a {
				color:inherit;
				border-bottom:1px solid @link;
				
				&:hover {
					color:@linkhover;
					border-color:@linkhover;
				}
			}
			
			&.right {
				float:right;
				text-align:right;
				margin:0;
				color:@subtext;
				font-style:italic;
			}
		}
	}
}

@media only screen and (max-width: @breakpoint) {
	// Let's call this the "tablet" breakpoint

	.container {
		float:left;
		width:90%;
		margin:0 5%;
		
		a#prev,a#next {
			max-width:10%;
		}
		
		#overlay {
			min-height:0px!important;
			
			a.closeModal {
				top:25px;
				left:0;
				right:auto;
				width:100%;
				text-align:center;
			}
			
			hr {
				display:none;
			}
			
			#conceptWork{
				margin-top:20px;
				min-height:0px!important;
			}
		}
		
		#intro {
			h3 {
				width:80%;
				font-size:1.8em;
				margin-left:10%;
				margin-right:10%;
			}
		}
		
		.project,
		#project {
			max-width:100%;
			float:left;
			
			img {
				max-width:100%;
				height:auto;
			}
			
			h2,h3,h5,p,ol,p.half,.video,blockquote {
				float:left;
				width:70%;
				margin-left:15%;
				margin-right:0;
				padding-left:0;
				padding-right:0;
				
				&.info,&.caption {
					width:50%;
					margin-left:13%;
					margin-right:0;
					padding-left:2%;
					padding-right:0;
					text-align:left;
					border-left:1px solid darken(@borders,5%);
					border-right:none;
				}
				
				&.caption,&.caption.inline {
					float:left;
					width:70%;
				}
			}
			
			ol li {
				width:100%;
				margin-left:0;
				margin-right:0;
				padding-left:0;
			}
			
			.video {
				width:90%;
				margin-left:5%;
			}
			
			.image {
				float:left;
				padding-left:0;
				padding-right:0;
				text-align:center;
				margin-left:0;
				margin-right:0;
				background:none;
				
				&.border {
					width:100%;
				}	
				
				&.half {
					width:49%;
					margin-left:0;
					margin-right:0.5%;
					padding-left:0;
					padding-right:0;
					
					&.right {
						margin-left:0.5%;
						margin-right:0;
					}
					
					img {
						float:none;
						display:inline-block;
						margin:0;
						padding:0;
						max-width:100%;
						height:auto;
					}
					
					&.break {
						width:100%;
					}
				}
			}
		}
		
		ul#work{
			width:100%;
			text-align:center;
			
			li {
				display:inline-block;
				float:none;
				margin:1%;
				width:40%;
				height:auto;
				max-width:276px;
				background:none;
				
				a {
					width:100%;
					
					img {
						width:100%;
						height:auto;
					}
					
					.title {
						display:none;
					}
				}
			}
		}
		
		#footer {
			text-align:center;
			
			ul {
				float:none;
				width:82%;
				display:inline-block;
			}
			
			&.break {
				ul {
					width:100%;
				}
			}
		}
	
		.showall {
			
			.image {
	
				img {
					max-width:100%;
					height:auto;
				}
				
				&.half {
					width:50%;
					margin-left:0;
					margin-right:0;
					height:auto;
					margin-bottom:2%;
					
					&.right {
						float:left;
					}
				}
				
				&.spanthree {
					width:66%;
					margin-left:0;
					margin-right:0;
					height:auto;
					margin-bottom:0;
				}
				
				&.portrait {
					width:31.85%;
					height:auto;
					max-height:10%;
					margin-left:0;
					margin-right:0;
				}
				
				&.thumb {
					width:33%;
					margin:0;
					height:auto;
				}
				
				a {
					.title {
						display:none;
					}
				}
			}
		}
	
		#about {	
			h3,p {
				float:left;
				width:70%;
				margin-left:15%;
				margin-right:15%;
				padding-left:0;
				padding-right:0;
			}
		
			ol {
				display:none;
			}
		}
	}
}

@media only screen and (max-width: @mobile) {
	body {
		
		hr.sectionBreak {
			width:14%;
			margin-left:43%;
			margin-right:43%;
		}
		
		.container {
			width:96%;
			margin:0 2%;
			
			#prev,#next {
				display:none;
			}
		
			#intro {
				h3 {
					font-size:1.75em;
					width:85%;
					margin-left:7%;
					margin-right:8%;
					margin-bottom:20px;
				}
			}
			
			blockquote {
				margin-top:30px;
				
				em {
					position:absolute;
					left:-20px;
					top:-35px;
					float:left;
					width:100%;
					margin:0;
					font-size:3em;
				}
			}
			
			#overlay{
				margin-top:10px;
			}
			
			.showall {
				margin-left:5%;
				width:90%;
				.image {
					
					&.half,&.spanthree,&.thumb,&.portrait {
						width:100%;
						margin-top:0;
						margin-bottom:2%;
						
						img {
							width:100%;
						}
					}
					
					&.portrait {
						max-height:280px;
					}
				}
			}
			
			ol {
				list-style-position:inside;
			}
			
			ul#work {
				li {
					width:100%;
				}
			}
			
			.project,
			#project {
				p {
					&.caption,&.info{
						width:70%;
					}
				}
				
				ol {
					list-style-position:inside;
				}
				
				.image {
					&.half {
						margin-top:5px;
						margin-bottom:0;
						width:100%;
						
						&.under {
							display:none;
						}
						
						img {
							max-width:100%;
							height:auto;
						}
					}
					&.close {
						margin-top:5px;
					}
				}
				
				.video {
					width:100%;
					margin-left:0;
				}
				
			}
			
			#footer {
				ul{
					width:276px;
				}
				
				&.break {
					ul {
						width:276px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1210px) {
	#keycontrols {
		bottom:-100%;
	}
}
