@testing:#f7f8fc;
@sitewidth:850px;
@breakpoint:980px;
@mobile:450px;

@dark:#2F353E;
@text:#505A6A;
@titles:#2F353E;
@subtext:#A5B3BE;
@borders:#f7f8fc;
@link:#C2E065;
@linkhover:#1292EE;
@accent:#08ffc8;
@accent2:#505bda;

@alt:rgb(260,245,230);