		<div id="mainNav" class="siteNav %s">
			<div class="container">
				<h1 class="signature%s" id="signature"><a href="%s" title="Buzz">Buzz Usborne</a></h1>
				<ol class="shortNav">
					<li class="hungryjacks"><a href="javascript://" draggable="false" title="Show menu" id="burger"><div>&nbsp;</div></a></li>
					<div class="popover">
						<li><a href="%s" class="item%s" title="My work">Work</a></li>
						<li><a href="%s" class="item%s" title="Coaching">Coaching</a></li>
						<li><a href="%s" class="item%s" title="About me">About</a></li>%s
					</div>
				</ol>
			</div>
		</div>