		<div id="mainNav" class="siteNav %s">
			<div class="container">
				<h1 class="signature%s" id="signature"><a href="_root_" title="Buzz">Buzz Usborne</a></h1>
				<ol id="menu" class="shortNav">
					<li class="hungryjacks"><a href="javascript://" draggable="false" title="Show menu" id="burger"><div>&nbsp;</div></a></li>
					<div class="popover">
						<li><a href="_root_" class="item%s" title="Home">Home</a></li>
						<li><a href="_root_work" class="item%s" title="My work">Work</a></li>
						<li><a href="https://yourfriend.buzz/" class="item%s" title="Coaching">Coaching</a></li>
						<li><a href="_root_about" class="item%s" title="About me">About</a></li>%s
					</div>
				</ol>
			</div>
		</div>