html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', Georgia, serif;
  font-size: 62.5%;
  line-height: 1.6em;
  color: #505a6a;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button,
input {
  border: 1px solid;
  outline: none;
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
strong {
  font-weight: bold;
}
body {
  overflow-x: hidden;
}
.container {
  margin: 0px auto;
  width: 850px;
  position: relative;
  transition: all 0.5s ease;
}
#keycontrols {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 150;
}
#keycontrols ul {
  margin: 0;
}
#keycontrols ul li {
  float: left;
  display: inline-block;
  *display: inline;
  font-size: 1.5em;
  margin-left: 30px;
}
#keycontrols ul li a {
  display: inline-block;
  *display: inline;
  width: 45px;
  overflow: hidden;
  background: #2f353e;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(47, 53, 62, 0.2), inset 0px 2px 0px #5b6778;
  -moz-box-shadow: 0px 2px 1px rgba(47, 53, 62, 0.2), inset 0px 2px 0px #5b6778;
  -webkit-box-shadow: 0px 2px 1px rgba(47, 53, 62, 0.2), inset 0px 2px 0px #5b6778;
  font-family: "Trebuchet MS";
  color: white;
  vertical-align: middle;
  line-height: 40px;
  text-shadow: 0px 1px #191c21;
}
#keycontrols ul li a.arrow {
  font-size: 1.7em;
  padding-bottom: 3px;
}
#keycontrols ul li a:hover {
  background: #3a414d;
}
#keycontrols ul li a:active,
#keycontrols ul li a.pressed {
  background: #3a414d;
  box-shadow: 0px 2px 1px rgba(47, 53, 62, 0.2), 0px 2px 1px rgba(255, 255, 255, 0.2), inset 0px 0px 10px #030304;
  -moz-box-shadow: 0px 2px 1px rgba(47, 53, 62, 0.2), 0px 2px 1px rgba(255, 255, 255, 0.2), inset 0px 0px 10px #030304;
  -webkit-box-shadow: 0px -1px 1px rgba(47, 53, 62, 0.2), 0px 2px 1px rgba(255, 255, 255, 0.2), inset 0px 0px 10px #030304;
}
#keycontrols ul li#combo {
  float: right;
  margin-right: 30px;
}
#keycontrols ul li#combo a {
  width: auto;
  padding: 0 16px;
}
#keycontrols ul li#combo span {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  line-height: 45px;
  width: 15px;
  text-align: center;
  color: #2f353e;
  margin: 0 0 0 4px;
  font-weight: bold;
}
#keycontrols ul li#comboClose {
  display: none;
}
#keycontrols ul li#comboClose.show {
  float: right;
  margin-right: 30px;
  display: inline-block;
}
a#prev,
a#next {
  position: fixed;
  top: 0;
  height: 100%;
  width: 79px;
  background: url('../gfx/arrows.png') left center no-repeat;
  background-position: 30px center;
  text-indent: -9000px;
  z-index: 100;
}
a#prev {
  left: 0;
}
a#next {
  right: 0;
  background-position: -30px center;
}
h1 {
  font-family: "proxima-nova", Georgia;
  font-size: 4em;
  font-weight: 800;
  color: #2f353e;
}
p,
blockquote {
  font-family: 'Lora', Georgia, serif;
  font-size: 1.5em;
  line-height: 1.6em;
  color: #505a6a;
}
#header {
  float: left;
  width: 100%;
  margin: 80px 0 50px 0;
}
#header h1 {
  float: left;
  width: 100%;
  text-align: left;
  margin: 0 0 5px 0;
  font-family: "proxima-nova", Georgia;
  font-size: 2.2em;
  font-weight: 800;
  font-weight: bold;
  color: #2f353e;
}
#header h1 em {
  font-weight: 100;
  color: #a5b3be;
}
#header h1 a {
  display: inline-block;
  color: inherit;
  font-weight: inherit;
  border-bottom: 2px solid #c2e065;
  position: relative;
}
#header h1 a span {
  display: none;
  position: absolute;
  right: 100%;
  float: left;
  width: auto;
  margin: 0;
  padding: 0 10px 0 0;
  color: #00aadd;
}
#header h1 a:hover {
  border-color: #00aadd;
}
#header h1 a:hover span {
  display: block;
}
#header.project {
  margin-bottom: 30px;
}
#header.project h1 {
  text-align: left;
}
#header h2 {
  float: left;
  text-align: left;
  width: 100%;
  font-family: 'Lora', Georgia, serif;
  font-size: 1.65em;
  line-height: 1.6em;
  color: #505a6a;
  color: #2f353e;
}
hr.sectionBreak {
  float: left;
  width: 6%;
  margin: 30px 47% 50px;
  padding: 0;
  border: none;
  height: 3px;
  background: #d9d9dd;
}
.fullImage {
  float: left;
  width: 90%;
  text-align: center;
  margin: 30px 5%;
}
.fullImage img {
  width: auto;
  max-width: 100%;
}
.fullImage img.spacer {
  margin-top: 20px;
}
.fullImage img.bottom {
  margin-bottom: 50px;
}
.fullImage.placeholder {
  background: #f4f4f5;
  height: 450px;
  box-shadow: inset 0px 0 0px 10px #f2f2f4;
  -moz-box-shadow: inset 0px 0 0px 10px #f2f2f4;
  -webkit-box-shadow: inset 0px 0 0px 10px #f2f2f4;
}
#projectIntro h1 {
  float: left;
  width: 100%;
  text-align: left;
  font-family: "proxima-nova", Georgia;
  font-size: 4em;
  font-weight: 800;
  color: #2f353e;
  margin: 10px 0 10px 0;
  padding: 0;
}
#projectIntro .subscript {
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  text-align: left;
  font-family: "proxima-nova", Georgia;
  font-size: 1.4em;
  font-weight: 800;
  color: #2f353e;
  font-weight: 400;
  color: #a5b3be;
}
#projectIntro .subscript em {
  display: inline-block;
  *display: inline;
  margin: 0 3px;
}
.project h3,
#project h3,
#about h3,
.project h2,
#project h2,
#about h2 {
  float: left;
  width: 563.66666667px;
  margin: 20px 0 40px 0;
  padding-left: 286.33333333px;
  font-family: "proxima-nova", Georgia;
  font-size: 3em;
  font-weight: 800;
  color: #2f353e;
}
.project h1,
#project h1,
#about h1 {
  float: left;
  width: 100%;
  text-align: left;
  font-family: "proxima-nova", Georgia;
  font-size: 4em;
  font-weight: 800;
  color: #2f353e;
  margin: 20px 0 10px 0;
  padding: 0;
}
.project .subscript,
#project .subscript,
#about .subscript {
  float: left;
  width: 100%;
  margin: 0 0 40px 0;
  text-align: left;
  font-family: "proxima-nova", Georgia;
  font-size: 1.4em;
  font-weight: 800;
  color: #2f353e;
  font-weight: 400;
  color: #a5b3be;
}
.project .subscript em,
#project .subscript em,
#about .subscript em {
  display: inline-block;
  *display: inline;
  margin: 0 3px;
}
.project h2,
#project h2,
#about h2 {
  font-size: 4em;
}
.project h2 em,
#project h2 em,
#about h2 em {
  display: inline;
  font-weight: inherit;
  box-shadow: inset 0px -3px 0px 0px #2f353e;
  -moz-box-shadow: inset 0px -3px 0px 0px #2f353e;
  -webkit-box-shadow: inset 0px -3px 0px 0px #2f353e;
}
.project ol,
#project ol,
#about ol {
  float: right;
  text-align: left;
  width: 522.66666667px;
  margin: 0 0 30px 0;
  padding: 0 40px 0 0;
  list-style-position: outside;
}
.project ol li,
#project ol li,
#about ol li {
  float: left;
  width: 80%;
  padding: 0 0 0 10px;
  margin: 0 10% 10px 20px;
  font-family: 'Lora', Georgia, serif;
  font-size: 1.5em;
  line-height: 1.6em;
  color: #505a6a;
}
.project hr.section,
#project hr.section,
#about hr.section {
  float: left;
  width: 10%;
  margin: 70px 45% 90px;
  height: 0;
  border: none;
  border-bottom: 2px solid #ececee;
}
.project p,
#project p,
#about p,
.project blockquote,
#project blockquote,
#about blockquote {
  float: right;
  text-align: left;
  width: 522.66666667px;
  margin: 0 0 30px 0;
  padding: 0 40px 0 0;
}
.project p a,
#project p a,
#about p a,
.project blockquote a,
#project blockquote a,
#about blockquote a {
  color: inherit;
  border-bottom: 1px solid #c2e065;
}
.project p a:hover,
#project p a:hover,
#about p a:hover,
.project blockquote a:hover,
#project blockquote a:hover,
#about blockquote a:hover {
  color: #00aadd;
  border-color: #00aadd;
}
.project p.caption,
#project p.caption,
#about p.caption,
.project blockquote.caption,
#project blockquote.caption,
#about blockquote.caption,
.project p.info,
#project p.info,
#about p.info,
.project blockquote.info,
#project blockquote.info,
#about blockquote.info {
  font-style: italic;
  font-size: 1.3em;
  line-height: 1.9em;
  padding: 0 10px 0 40px;
  color: #a5b3be;
  clear: both;
}
.project p.caption strong,
#project p.caption strong,
#about p.caption strong,
.project blockquote.caption strong,
#project blockquote.caption strong,
#about blockquote.caption strong,
.project p.info strong,
#project p.info strong,
#about p.info strong,
.project blockquote.info strong,
#project blockquote.info strong,
#about blockquote.info strong {
  font-weight: normal;
  font-style: inherit;
  color: #2f353e;
}
.project p.caption a,
#project p.caption a,
#about p.caption a,
.project blockquote.caption a,
#project blockquote.caption a,
#about blockquote.caption a,
.project p.info a,
#project p.info a,
#about p.info a,
.project blockquote.info a,
#project blockquote.info a,
#about blockquote.info a {
  font-style: inherit;
}
.project p.caption,
#project p.caption,
#about p.caption,
.project blockquote.caption,
#project blockquote.caption,
#about blockquote.caption {
  float: left;
  text-align: left;
  width: 502.66666667px;
  padding: 0 60px 0 10px;
  margin: 0px 0 10px 170px;
  border-left: 1px solid #f4f4f5;
}
.project p.caption.inline,
#project p.caption.inline,
#about p.caption.inline,
.project blockquote.caption.inline,
#project blockquote.caption.inline,
#about blockquote.caption.inline {
  float: right;
  border: none;
  margin-bottom: 30px;
}
.project p.info,
#project p.info,
#about p.info,
.project blockquote.info,
#project blockquote.info,
#about blockquote.info {
  float: left;
  width: 183.33333333px;
  padding: 0 10px 0 40px;
  text-align: right;
  border-right: 1px solid #f4f4f5;
}
.project p.half,
#project p.half,
#about p.half,
.project blockquote.half,
#project blockquote.half,
#about blockquote.half {
  width: 330px;
  padding: 0 50px 0 30px;
  margin: 30px 0 0 0;
}
.project p.half.caption,
#project p.half.caption,
#about p.half.caption,
.project blockquote.half.caption,
#project blockquote.half.caption,
#about blockquote.half.caption {
  float: right;
  padding-left: 20px;
  border-left: 1px solid #f4f4f5;
  clear: none;
}
.project blockquote,
#project blockquote,
#about blockquote {
  font-size: 2em;
  font-style: italic;
  position: relative;
}
.project blockquote.spacer,
#project blockquote.spacer,
#about blockquote.spacer {
  margin: 30px 0 60px;
}
.project blockquote em,
#project blockquote em,
#about blockquote em {
  position: absolute;
  top: -5px;
  left: -50px;
  font-size: 4em;
  font-family: "Times New Roman";
  color: #00aadd;
}
.project h5,
#project h5,
#about h5 {
  float: left;
  width: 563.66666667px;
  margin: 40px 0 20px 0;
  padding-left: 286.33333333px;
  font-family: "proxima-nova", Georgia;
  font-size: 2.5em;
  font-weight: 800;
  color: #2f353e;
}
.project h5.half,
#project h5.half,
#about h5.half {
  width: 330px;
  padding: 0 50px 0 45px;
  margin: 50px 0 0 0;
}
.project .image,
#project .image,
#about .image {
  float: left;
  width: 100%;
  background: white;
  margin: 30px 0 30px;
}
.project .image img,
#project .image img,
#about .image img {
  float: left;
  margin: 0;
  padding: 0;
}
.project .image.first,
#project .image.first,
#about .image.first {
  margin-top: 0;
}
.project .image.close,
#project .image.close,
#about .image.close {
  margin-top: -20px;
}
.project .image.border,
#project .image.border,
#about .image.border {
  width: 848px;
  border: 1px solid #f4f4f5;
}
.project .image.border img,
#project .image.border img,
#about .image.border img {
  width: 100%;
}
.project .image.half,
#project .image.half,
#about .image.half {
  width: 420px;
  margin: 30px 5px 30px 0;
}
.project .image.half.border,
#project .image.half.border,
#about .image.half.border {
  width: 418px;
}
.project .image.half.right,
#project .image.half.right,
#about .image.half.right {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
.project .image.half.close,
#project .image.half.close,
#about .image.half.close {
  margin-top: -20px;
}
.project .image.under,
#project .image.under,
#about .image.under {
  margin-bottom: 60px;
}
.project .image.over,
#project .image.over,
#about .image.over {
  margin-top: 50px;
}
.project .image.placeholder,
#project .image.placeholder,
#about .image.placeholder {
  background: #f4f4f5;
  height: 300px;
  box-shadow: inset 0px 0 0px 10px #f2f2f4;
  -moz-box-shadow: inset 0px 0 0px 10px #f2f2f4;
  -webkit-box-shadow: inset 0px 0 0px 10px #f2f2f4;
}
.project .video,
#project .video,
#about .video {
  float: right;
  text-align: left;
  width: 562.66666667px;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  background: #f4f4f5;
}
.project .video img,
#project .video img,
#about .video img {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;
}
dl.outro {
  float: left;
  width: 100%;
  margin: 50px 0;
  border: 1px solid #e7e7e9;
  box-shadow: 0px 4px 0px #f9f9fa;
  -moz-box-shadow: 0px 4px 0px #f9f9fa;
  -webkit-box-shadow: 0px 4px 0px #f9f9fa;
  border-bottom-color: #dfdfe2;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}
dl.outro:after,
dl.outro:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
dl.outro:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 6px;
  margin-left: -6px;
}
dl.outro:before {
  border-color: rgba(255, 0, 162, 0);
  border-bottom-color: #d9d9dd;
  border-width: 7px;
  margin-left: -7px;
}
dl.outro dt,
dl.outro dd {
  font-family: 'Lora', Georgia, serif;
  font-size: 1.3em;
  line-height: 1.6em;
  color: #505a6a;
  float: left;
  width: 100%;
  padding: 0;
}
dl.outro dt a,
dl.outro dd a {
  color: #505a6a;
  display: inline;
  border-bottom: 1px solid #c2e065;
}
dl.outro dt a:hover,
dl.outro dd a:hover {
  color: #00aadd;
  border-color: #00aadd;
}
dl.outro dt {
  margin: 21px 0 7px 0;
  font-family: "proxima-nova", Georgia;
  font-size: 1.3em;
  font-weight: 800;
  color: #2f353e;
}
dl.outro dd {
  font-size: 1.3em;
  line-height: 1.9em;
  color: #a5b3be;
}
dl.outro .left {
  float: left;
  width: 23.8%;
  padding: 14px 5% 35px;
}
dl.outro .middle {
  float: left;
  width: 33.8%;
  padding: 14px 0 35px;
}
dl.outro .right {
  float: right;
  width: 23.8%;
  padding: 14px 5% 35px 0;
}
#about {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
#about h3 {
  width: 800px;
  padding-left: 0;
}
#about p {
  float: left;
  margin-bottom: 40px;
}
#about p.lead {
  font-size: 1.7em;
}
#about p:last-child {
  margin-top: 8px;
  margin-bottom: 10px;
}
#about p em {
  font-style: italic;
  color: #a5b3be;
}
#about ol {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  list-style: none;
  width: 153.33333333px;
  padding: 0 30px 0 0;
  text-align: left;
  margin: 95px 0 0 0;
  border-right: 1px solid #f4f4f5;
}
#about ol li {
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  font-style: italic;
  font-family: 'Lora', Georgia, serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #505a6a;
  color: #a5b3be;
  position: relative;
  text-align: right;
}
#about ol li span {
  position: absolute;
  right: -25px;
  top: 3px;
  width: 9px;
  height: 9px;
  overflow: hidden;
  text-indent: 9000px;
  background: #e7e7e9;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#about ol li span.first {
  right: -25px;
  width: 8px;
  height: 8px;
  background: #00aadd;
  z-index: 2;
}
#about ol li span.pulse {
  z-index: 1;
  background: #00aadd;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  top: -18px;
  right: -46px;
  width: 50px;
  height: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}
#about ol li:last-child {
  margin-bottom: 0;
}
#about ol li strong {
  font-weight: normal;
  font-style: inherit;
  color: #2f353e;
}
#about ol li a {
  color: inherit;
  border-bottom: 1px solid #c2e065;
  font-style: inherit;
}
#about ol li a:hover {
  color: #00aadd;
  border-color: #00aadd;
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  10% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.3);
    opacity: 0.0;
  }
}
@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  10% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.3);
    opacity: 0.0;
  }
}
h4 {
  float: left;
  width: 100%;
  margin: 100px 0 40px 0;
  font-family: "proxima-nova", Georgia;
  font-size: 1.2em;
  font-weight: 800;
  color: #2f353e;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 500;
  color: #a5b3be;
}
ul#caseStudies {
  float: left;
  width: 100%;
  margin: 0 0 100px 0;
}
ul#caseStudies li {
  float: left;
  width: 100%;
}
ul#caseStudies li a {
  float: left;
  width: 100%;
  padding: 10px 0;
}
ul#caseStudies li a h5 {
  float: left;
  width: 100%;
  text-align: left;
  font-family: "proxima-nova", Georgia;
  font-size: 3em;
  font-weight: 800;
  color: #2f353e;
  margin: 0;
  padding: 0;
}
ul#caseStudies li a h5 small {
  font-weight: inherit;
  font-size: .7em;
}
ul#caseStudies li a p {
  float: left;
  width: 100%;
  margin: 0;
  text-align: left;
  font-family: "proxima-nova", Georgia;
  font-size: 1.4em;
  font-weight: 800;
  color: #2f353e;
  font-weight: 400;
  color: #a5b3be;
}
ul#caseStudies li a p em {
  display: inline-block;
  *display: inline;
  margin: 0 3px;
}
ul#caseStudies li a img {
  width: 100%;
}
#footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 50px 0 80px 0;
  font-family: 'Lora', Georgia, serif;
  font-size: 1.3em;
  line-height: 1.6em;
  color: #505a6a;
}
#footer ul li {
  float: left;
  color: #505a6a;
  margin: 0 10px 0 0;
}
#footer ul li a {
  color: inherit;
  border-bottom: 1px solid #c2e065;
}
#footer ul li a:hover {
  color: #00aadd;
  border-color: #00aadd;
}
#footer ul li.right {
  float: right;
  text-align: right;
  margin: 0;
  color: #a5b3be;
  font-style: italic;
}
@media only screen and (max-width: 960px) {
  #header h1,
  #header h2,
  #header .subscript {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #projectIntro {
    float: left;
    width: 100%;
    margin: 0;
  }
  #projectIntro h1,
  #projectIntro h2,
  #projectIntro .subscript {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    float: left;
    width: 90%;
    margin: 0 5%;
  }
  .container a#prev,
  .container a#next {
    max-width: 10%;
  }
  .container .project,
  .container #project {
    max-width: 100%;
    float: left;
  }
  .container .project img,
  .container #project img {
    max-width: 100%;
    height: auto;
  }
  .container .project h2,
  .container #project h2,
  .container .project h3,
  .container #project h3,
  .container .project h5,
  .container #project h5,
  .container .project p,
  .container #project p,
  .container .project ol,
  .container #project ol,
  .container .project p.half,
  .container #project p.half,
  .container .project .video,
  .container #project .video,
  .container .project blockquote,
  .container #project blockquote {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .container .project h2.info,
  .container #project h2.info,
  .container .project h3.info,
  .container #project h3.info,
  .container .project h5.info,
  .container #project h5.info,
  .container .project p.info,
  .container #project p.info,
  .container .project ol.info,
  .container #project ol.info,
  .container .project p.half.info,
  .container #project p.half.info,
  .container .project .video.info,
  .container #project .video.info,
  .container .project blockquote.info,
  .container #project blockquote.info,
  .container .project h2.caption,
  .container #project h2.caption,
  .container .project h3.caption,
  .container #project h3.caption,
  .container .project h5.caption,
  .container #project h5.caption,
  .container .project p.caption,
  .container #project p.caption,
  .container .project ol.caption,
  .container #project ol.caption,
  .container .project p.half.caption,
  .container #project p.half.caption,
  .container .project .video.caption,
  .container #project .video.caption,
  .container .project blockquote.caption,
  .container #project blockquote.caption {
    width: 50%;
    margin-left: 13%;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 0;
    text-align: left;
    border-left: 1px solid #e7e7e9;
    border-right: none;
  }
  .container .project h2.caption,
  .container #project h2.caption,
  .container .project h3.caption,
  .container #project h3.caption,
  .container .project h5.caption,
  .container #project h5.caption,
  .container .project p.caption,
  .container #project p.caption,
  .container .project ol.caption,
  .container #project ol.caption,
  .container .project p.half.caption,
  .container #project p.half.caption,
  .container .project .video.caption,
  .container #project .video.caption,
  .container .project blockquote.caption,
  .container #project blockquote.caption,
  .container .project h2.caption.inline,
  .container #project h2.caption.inline,
  .container .project h3.caption.inline,
  .container #project h3.caption.inline,
  .container .project h5.caption.inline,
  .container #project h5.caption.inline,
  .container .project p.caption.inline,
  .container #project p.caption.inline,
  .container .project ol.caption.inline,
  .container #project ol.caption.inline,
  .container .project p.half.caption.inline,
  .container #project p.half.caption.inline,
  .container .project .video.caption.inline,
  .container #project .video.caption.inline,
  .container .project blockquote.caption.inline,
  .container #project blockquote.caption.inline {
    float: left;
    width: 70%;
  }
  .container .project ol li,
  .container #project ol li {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  .container .project .video,
  .container #project .video {
    width: 90%;
    margin-left: 5%;
  }
  .container .project .image,
  .container #project .image {
    float: left;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    background: none;
  }
  .container .project .image.border,
  .container #project .image.border {
    width: 100%;
  }
  .container .project .image.half,
  .container #project .image.half {
    width: 49%;
    margin-left: 0;
    margin-right: 0.5%;
    padding-left: 0;
    padding-right: 0;
  }
  .container .project .image.half.right,
  .container #project .image.half.right {
    margin-left: 0.5%;
    margin-right: 0;
  }
  .container .project .image.half img,
  .container #project .image.half img {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
  }
  .container .project .image.half.break,
  .container #project .image.half.break {
    width: 100%;
  }
  .container #footer {
    text-align: center;
  }
  .container #footer ul {
    float: none;
    width: 70%;
    display: inline-block;
  }
  .container #footer.break ul {
    width: 100%;
  }
  .container #about h3,
  .container #about p {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0;
    padding-right: 0;
  }
  .container #about ol {
    position: relative;
    float: left;
    width: 70%;
    padding: 50px 0 0 0;
    border-top: 1px solid #d9d9dd;
    margin: 0 15%;
    text-align: left;
    border-right: 0;
  }
  .container #about ol li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .container #about ol li span {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  body hr.sectionBreak {
    width: 14%;
    margin-left: 43%;
    margin-right: 43%;
  }
  body .container {
    width: 96%;
    margin: 0 2%;
  }
  body .container #prev,
  body .container #next {
    display: none;
  }
  body .container dl.outro {
    padding: 40px 0 0px;
    box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    border: none;
    border-top: 1px dashed #d9d9dd;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  body .container dl.outro:after,
  body .container dl.outro:before {
    display: none;
  }
  body .container dl.outro .col {
    padding: 0 15%;
    width: 70%;
  }
  body .container dl.outro .col dt {
    margin-bottom: 3px;
  }
  body .container blockquote {
    margin-top: 30px;
  }
  body .container blockquote em {
    position: absolute;
    left: -20px;
    top: -35px;
    float: left;
    width: 100%;
    margin: 0;
    font-size: 3em;
  }
  body .container #overlay {
    margin-top: 10px;
  }
  body .container ol {
    list-style-position: inside;
  }
  body .container .project p.caption,
  body .container #project p.caption,
  body .container .project p.info,
  body .container #project p.info {
    width: 70%;
  }
  body .container .project ol,
  body .container #project ol {
    list-style-position: inside;
  }
  body .container .project .image.half,
  body .container #project .image.half {
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
  }
  body .container .project .image.half.under,
  body .container #project .image.half.under {
    display: none;
  }
  body .container .project .image.half img,
  body .container #project .image.half img {
    max-width: 100%;
    height: auto;
  }
  body .container .project .image.close,
  body .container #project .image.close {
    margin-top: 5px;
  }
  body .container .project .video,
  body .container #project .video {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 1210px) {
  #keycontrols {
    bottom: -100%;
  }
}
